<!-- main content -->
<div class="container" style="padding:4%">
	<div class="row">
        <!-- Name, picture, and information -->
		<div class="row">
			<div class="col s12">
				<div class="col s9">
					<h4 class="left-align valign-wrapper grey-text text-darken-1 name" style="margin-right: 10%; text-align: justify">{{userProfile.first_name, userProfile.middle_name, userProfile.last_name}}</h4>
					<h5 class="left-align grey-text text-darken-1" style="margin-right: 10%; text-align: justify">{{userProfile.username}}</h5>
					<h5 class="left-align grey-text text-darken-1" style="margin-right: 10%; text-align: justify">{{userProfile.email}}</h5>
				</div>
				<div class="col s3">
					<img src="assets/images/user.png" alt="" class="circle right" style="height:200px;"/>
				</div>
			</div>
		</div>            
	</div>
</div>
<pin-edit-profile></pin-edit-profile>