<center>
	<div class="section" style="width: 75%">
		<center>
			<div class="container">
				<div class="z-depth-1 white row" style="border: 1px solid #EEE;">
					<h5 class="green-text darken-3">Register</h5>
					<form class="col s12" method="post"> 
						<div class="row">
							<div class="input-field col s12"> 
								<input id='first_name' type='text' class='validate'>
								<label for="first_name">First Name</label>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s12"> 
								<input id='last_name' type='text' class='validate'>
								<label for="last_name">Last Name</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12"> 
								<input id='username' type='text' class='validate'>
								<label for="username">Username</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<input class='validate' id='email' type='email'>
								<label for="email">Email</label>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate' type='password' id='password' />
								<label for='password'>Password</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12"> 
								<input id="address" type="text" class="validate" required>
								<label for="address">Address</label>
							</div>
						</div> 

						<div class="row">
							<div class="input-field col s12">
								<p>Gender</p>
								<p>
									<input name="group1" id="male" type="radio" class="with-gap" >
									<label for="male">Male</label>
								</p>

								<p>
									<input name="group1" id="female" type="radio" class="with-gap" >
									<label for="female">Female</label>
								</p>
							</div>
						</div>

						<br/>
						<center>
							<div class='row'>
								<button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green darken-3'>Submit</button>
							</div>
		                </center>
					</form>       
				</div>
			</div>
		</center>
	</div>
</center>